---
version: 1
interactions:
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2"}],"label":"9a6i7ack382y-linodego-testing","region":"us-central","version":"1.16","tags":["testing"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 721, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "9a6i7ack382y-linodego-testing", "region": "us-central",
      "version": "1.16", "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1576967761"
      X-Spec-Version:
      - 4.11.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/721/pools
    method: GET
  response:
    body: '{"data": [{"id": 885, "type": "g6-standard-2", "count": 1, "linodes": [{"id":
      null, "status": "not_ready"}]}], "page": 1, "pages": 1, "results": 1}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "9"
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1576967653"
      X-Spec-Version:
      - 4.11.0
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/721/pools/885
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "26"
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "398"
      X-Ratelimit-Reset:
      - "1576967670"
      X-Spec-Version:
      - 4.11.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/721
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1576967763"
      X-Spec-Version:
      - 4.11.0
    status: 200 OK
    code: 200
    duration: ""
