---
version: 1
interactions:
- request:
    body: '{"node_pools":[{"count":1,"type":"g6-standard-2"}],"label":"1ry04ss8s3t8-linodego-testing","region":"us-central","version":"1.16","tags":["testing"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters
    method: POST
  response:
    body: '{"id": 722, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "1ry04ss8s3t8-linodego-testing", "region": "us-central",
      "version": "1.16", "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "117"
      X-Accepted-Oauth-Scopes:
      - lke:read_write
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1576967764"
      X-Spec-Version:
      - 4.11.0
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.linode.com/v4beta/lke/clusters/722
    method: GET
  response:
    body: '{"id": 722, "status": "ready", "created": "2018-01-02T03:04:05", "updated":
      "2018-01-02T03:04:05", "label": "1ry04ss8s3t8-linodego-testing", "region": "us-central",
      "version": "1.16", "tags": []}'
    headers:
      Content-Type:
      - application/json
      Retry-After:
      - "119"
      X-Accepted-Oauth-Scopes:
      - lke:read_only
      X-Oauth-Scopes:
      - '*'
      X-Ratelimit-Limit:
      - "400"
      X-Ratelimit-Remaining:
      - "399"
      X-Ratelimit-Reset:
      - "1576967766"
      X-Spec-Version:
      - 4.11.0
    status: 200 OK
    code: 200
    duration: ""
[...]
